<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="QUICK_ONLINE_TEST" value="false"/>
        <env name="SHAREFILE_ROOT" value="/Personal Folders/Flysystem-sharefile-test"/>
        <env name="SHAREFILE_HOSTNAME" value=""/>
        <env name="SHAREFILE_CLIENT_ID" value=""/>
        <env name="SHAREFILE_CLIENT_SECRET" value=""/>
        <env name="SHAREFILE_USERNAME" value=""/>
        <env name="SHAREFILE_PASSWORD" value=""/>
        <env name="WEBDAV_ROOT" value="/My Files &amp; Folders/Flysystem-sharefile-test"/>
        <env name="WEBDAV_URL" value="sharefile webdav url (optional)"/>
        <env name="WEBDAV_USERNAME" value="username (optional)"/>
        <env name="WEBDAV_PASSWORD" value="password (optional)"/>
    </php>
</phpunit>
